.description{
    background-color: rgb(215, 254, 215);
    margin: 15px;
    margin-right: 400px;
    margin-left: 400px;
    padding: 20px;
    border-radius: 15px;
}
.description a{
    font-size: 1.3rem;
    color: rgb(87, 87, 87);
    font-weight: 500;
}
.upvote{
    width: 26px;
    margin-bottom: -5px;
}